html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- NAV ---------------  */
.nav-text {
	color: #e1ad01;
}

.search-btn {
	font-size: 1.5rem;
	color: white;
	background: transparent;
	border: none;
}

.nav-icon {
	margin: 0 1rem;
}


/* --------------- LANDING PAGE ---------------  */
.landing-container {
  height: 100vh;
  background-image: url('./computer-landing-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 1rem;
  color: #e1ad01;
  letter-spacing: 1.5px;
}

.shop-btn {
	width: 8rem;
	height: 3.5rem;
	margin: 1rem auto;
	border: none;
	border-radius: 10px;
	transition: all 0.5s;
}

.shop-btn:hover {
	background-color: teal;
	color: white;
}

/* --------------- SHOP PAGE ---------------  */
.shop-container {
	display: flex;
	width: 100vw;
	margin-top: 1rem;
}

.shop-categories-list {
	cursor: pointer;
	position: sticky;
	top: 4.5rem;
}

.category {
	margin-bottom: 0.3rem;
	z-index: 1;
}

.shop-items-container {
	width: 70vw;
}

.shop-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.add-to-cart-btn {
	margin-bottom: 3rem;
	margin-top: 0.5rem;
	margin-right: 3rem;
	border-radius: 10px;
	padding: 0.3rem 1rem;
}

/* --------------- CARDS ---------------  */
.card-container {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 2.3rem;
	padding-right: 1rem;
}

.card-title {
	font-size: 1rem;
}

.card-product-image {
	width: 35vw;
	margin-top: 1rem;
}

.card-description {
	font-size: 0.8rem;
	margin-top: 1rem;
	text-align: center;
}

/* --------------- SEARCH PAGE ---------------  */
.search-container {
	width: 100vw;
	height: 100%;
	background-color: #e1ad01;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.90;
	position: fixed;
	top: 0;
	left: 0;
	animation: slide 1s;
}

@keyframes slide {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

.search-input {
	margin-right: 0.2rem;
}

/* --------------- CART CARD---------------  */
.cart-card-container {
	width: 100vw;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.cart-card-title {
	font-size: 0.8rem;
	width: 30%;
}

.cart-card-product-image {
	width: 20vw;
	margin-top: 0.8rem;
	padding-right: 1rem;
}

.cart-card-price {
	font-size: 1rem;
}

/* --------------- CART PAGE---------------  */

.cart-container {
	width: 100vw;
	height: 100%;
	color: white;
	background-color: #e1ad01;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	opacity: 0.9;
	top: 0;
	left: 0;
	animation: slide 1s;
	letter-spacing: 1px;
	z-index: 99;
}

.collapse-cart-container {
	animation: collapse 1s;
}

@keyframes collapse {
	
}

.checkout-btn {
	border-radius: 12px;
	margin-top: 0.6rem;
	border: none;
	padding: 0.6rem;
}